.app-container {
  height: 100vh;
}

.app-sidenav {
  width: 240px;
}

.app-toolbar {
  position: sticky;
  top: 0;
  z-index: 2;
}

.page-content {
  padding: 16px;
}

.active {
  background-color: rgba(0, 0, 0, 0.1);
}
