@if (!isLoading) {
  <app-dynamic-filter [columns]="displayedColumns" [data]="users" (filteredData)="users = $event"></app-dynamic-filter>
  <div class="table-container">
    <table mat-table [dataSource]="users" class="mat-elevation-z8">
      <ng-container matColumnDef="userId">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user">{{ user.userId }}</td>
      </ng-container>

      <ng-container matColumnDef="fullName">
        <th mat-header-cell *matHeaderCellDef> Nombre </th>
        <td mat-cell *matCellDef="let user">{{ user.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Usuario </th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>

      <ng-container matColumnDef="roleId">
        <th mat-header-cell *matHeaderCellDef> Rol </th>
        <td mat-cell *matCellDef="let user">{{ user.roleId }}</td>
      </ng-container>

      <ng-container matColumnDef="active">
        <th mat-header-cell *matHeaderCellDef> Activo </th>
        <td mat-cell *matCellDef="let user">{{ user.active ? 'Sí' : 'No' }}</td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let user">
          <button mat-icon-button color="primary" [routerLink]="['/users/edit', user.userId]">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="delete(user.userId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
} @else {
  <div class="loading">
    <mat-spinner></mat-spinner>
    <p>Cargando usuarios...</p>
  </div>
}
